@font-face {
    font-family: "moderna";
    src: url(Fonts/moderna/MODERNA_.TTF);
    font-weight: 500;
}
@font-face {
    font-family: "shadows";
    src: url(Fonts/Shadows/ShadowsIntoLight-Regular.ttf);
    font-weight: 400;
}

img {
    width: 800px;
}

h1 {
    color:black;
font-family: "moderna",sans-serif;
text-align: center;
}

h2 {
    color: black;
    font-family:"moderna",sans-serif;
    margin-right: 8%;
    display: inline;
    margin-left: 10%;
}

h3 {
    color: black;
    font-family:"moderna",sans-serif;
}

#Conceptheader {
    color: black ;
margin-left: 0%;
}

#Realityheader {
    margin-left: 0%;
}

.Content {
    color: rgb(0, 0, 0);
    font-family: "shadows","moderna",sans-serif;
margin-left: 0%;
font-size: 19px;
}

.bold {
    font-weight: 800;
}

.img-div {
    box-shadow: 0 0 20px black;
    background-color: rgba(128, 128, 128, 0);
margin-left: 0%;
}

.menu {
    box-shadow: 0 0 20px black;
    position: relative;
margin-left: 0%;
text-decoration: none;
}

.Headline-div { 
    box-shadow: 0 0 20px black;
   margin-left: 0%;
}

img {
    box-shadow: 0 0 9px black;
    margin: 0.5%;
width: 32%;
}

.albums-div {
    display: inline;
}

.login-div {
    box-shadow: 0 0 9px black;
    background-color: cornflowerblue;
    display: inline-block;
}

.login-div input {
    display: block;
}

.login-div input[type="email"] {
    border: solid 1px blue;
}

.login-div input[name="password"] {
    border: solid 1px red;
}

.login-div button:hover {
    box-shadow: 2px 2px 3px black;
}

.login-div input:focus {
    box-shadow: 2px 2px 3px black;
}