@font-face {
    font-family: "moderna";
    src: url(Fonts/moderna/MODERNA_.TTF);
    font-weight: 500;
}

img {width: 800px;}
h1 {color: rgba(104, 6, 6, 0.904);
font-family: "moderna";
text-align: center;}
h2 {font-family: "moderna";}