body {
    margin: 0;
}

.calculator__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    background-color: rgba(13, 150, 127, 0.466);
    height:300px;
    width: 250px;
    margin-top: 200px;
    border-radius: 10px;
    box-shadow: 0 0 9px black;
}

/*Input*/


.input {
    
    
}
.previous-operand {
    width: 100%;
    height: 1rem;
    font-size: small;
    text-align: right;
    color: rgb(100, 100, 100);
}

.current-operand {
    width: 100%;
    font-size: large;
    height: 2rem;
    text-align: right;
    color: rgb(100, 100, 100);
}

/*Calc-Signs*/
.calc-signs {
    display: flex;
    width: 96%;
    height: 2.2rem;
    line-height: 2.1rem;
    margin: 2%;   
    
}

.operator {
    display: flex;
    width: 25%;
    background-color: rgb(150, 150, 150); 
    padding-left: 1.4rem;
    align-items: center;
    font-size: larger;
    margin: 2px;
    border-radius: 10px;
    box-shadow: 0 0 9px rgb(100, 100, 100);
    outline: transparent;
    border: transparent;
}

.minus {
    padding-left: 1.6rem;
}

.multi {
    padding-top: 0.3rem;
}

.operator:hover {
    cursor: pointer;
    background-color: rgba(0, 88, 221, 0.425);
    box-shadow: 0 0 9px black;
}

/*Numbers*/

.numbers {
    display: flex;
    align-items: stretch;   
}

.column-one {
    display: flex;
    flex-direction: column;
    width: 60%;       
}
.column-two {
    display: flex;
    flex-direction: column;
    width: 60%;       
}

.column-three {
    display: flex;
    flex-direction: column;    
    width: 60%;
}

.number {
    display: inline-block;
    width: 80%;
    background-color: rgb(230, 230, 230);
    margin: 2px;
    text-align: center;
    line-height: 2.5rem;    
    box-shadow: 0 0 9px rgb(100, 100, 100);
    border-radius: 5px;
    outline: transparent;
    border: transparent;
}

.c {
    display: inline-block;
    width: 80%;
    background-color: rgb(230, 230, 230);
    margin: 2px;
    text-align: center;
    line-height: 2.5rem;    
    box-shadow: 0 0 9px rgb(100, 100, 100);
    border-radius: 5px;
    outline: transparent;
    border: transparent;
}

.c:hover { 
    cursor: pointer; 
    background-color: rgb(220, 0, 0);  
    box-shadow: 0 0 9px black;
}

.number:hover {
    cursor: pointer;
    background-color: rgba(0, 221, 0, 0.425);
    box-shadow: 0 0 9px black;
}

/*Result*/
.result {
    align-items: center;
    display: flex;
    flex-direction: column;  
    width: 25%; 
    text-align: center;
    padding-top: 31%;
    /* width: 10%;   */
    background-color: chocolate; 
    /* padding-left: 1rem;     */
    box-shadow: 0 0 9px rgb(100, 100, 100);
    border-radius: 5px;
    border: transparent;
    outline: transparent;
}

.result:hover {
    cursor: pointer;
    box-shadow: 0 0 9px black;
}

h4 {
    margin: 0;
}