$main-gray: rgb(50, 50, 50);

$secondary-gray: rgb(30, 30, 30);

$main-orange: rgba(245, 156, 56, 255);

$nav-bg-color: rgba(30, 30, 30, 0.8);

$main-green: rgb(69, 197, 64);

$text-white: rgb(230, 230, 230);

$edit-blue: rgb(77, 133, 245);
